.wysibb {
    background: #F3F3F3;
}

.wysibb .wysibb-toolbar {
    border-bottom: none;
    background: none;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container {
    border: none;
    padding: 0;
    border-radius: 3px;
    background: #FBFBFB;
    background-image: linear-gradient(bottom, #EEE, #FEFEFE);
    background-image: -moz-linear-gradient(bottom, #EEE, #FEFEFE);
    background-image: -o-linear-gradient(bottom, #EEE, #FEFEFE);
    background-image: -webkit-linear-gradient(bottom, #EEE, #FEFEFE);
    background-image: -ms-linear-gradient(bottom, #EEE, #FEFEFE);

    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn {
    margin: 0;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:hover {
    border-radius: 0;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on:hover {
    border-radius: 0;
    background: #757575;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:first-child,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:last-child,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
