/* wysibb */
html{height:100% !important;}
.wysibb{margin:0;}
.wysibb .wysibb-toolbar{/* height:35px; */border-top:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:0;background:#f5f5f5;padding:0 60px 0 10px;margin:0px;position:relative;}
.wysibb .wysibb-bottom-toolbar{border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:0;background:#f5f5f5;padding:0 10px;margin:0px;} 
.wysibb .wysibb-bottom-toolbar img{max-width:20px}
.wysibb .wysibb-toolbar .wysibb-toolbar-btn{/* float:left; */display:inline-block;*display:inline;zoom: 1;/* height:22px; */cursor:pointer;padding:2px 3px;margin:5px -1px; //margin:5px 0px;outline: none;}
.wysibb .wysibb-toolbar .btnModeSwitch{width:46px;text-align:center;position:absolute;right:5px;top:0px;}
.wysibb .wysibb-toolbar .wysibb-toolbar-btn span{display:block;/* width:20px; */height:20px;margin:1px;z-index:1;}
.wysibb .wysibb-toolbar .wysibb-toolbar-btn:hover{border-radius:2px;border:1px solid #aaa;padding:1px 2px;box-shadow:0px 0px 3px #aaa;z-index:1;background:#fafafa;}
.wysibb .wysibb-toolbar .wysibb-toolbar-btn.on,.wysibb .wysibb-toolbar .wysibb-toolbar-btn:active{border:1px solid #aaa;padding:1px;box-shadow:inset 0px 0px 3px #aaa;border-radius:2px;background:#ddd;z-index:10;padding:1px 2px;}
.wysibb .wysibb-toolbar .wysibb-toolbar-btn.off,.wysibb .wysibb-toolbar .wysibb-toolbar-btn.off:hover,.wysibb .wysibb-toolbar .wysibb-toolbar-btn.off:active{cursor:default;opacity:0.3;border:0;padding:2px 3px;box-shadow:none}
.wysibb .wysibb-toolbar .wysibb-toolbar-vert{display:inline-block;*display:inline;zoom: 1;/* margin-top:8px; */width:21px;height:27px;background:url(//www.wysibb.com/static/theme/default/img/vert.png) 0 0 no-repeat;}
.wysibb-toolbar-linebreak{}
.ve-tlb-bold{background:url(./img/icons.png) 0 0 no-repeat;width:20px;}
.ve-tlb-italic{background:url(./img/icons.png) 0 -40px no-repeat;width:20px;}
.ve-tlb-underline{background:url(./img/icons.png) 0 -20px no-repeat;width:20px;}
.ve-tlb-strike{background:url(./img/icons.png) 0 -120px no-repeat;width:20px;}
.ve-tlb-link{background:url(./img/icons.png) 0 -80px no-repeat;width:20px;}
.ve-tlb-unlink{background:url(./img/icons.png) 0 -100px no-repeat;width:20px;}
.ve-tlb-img{background:url(./img/icons.png) 0 -60px no-repeat;width:20px;}
.ve-tlb-quote{background:url(./img/icons.png) 0 -140px no-repeat;width:20px;}
.ve-tlb-spoiler{background:url(./img/icons.png) 0 -160px no-repeat;width:20px;}
.ve-tlb-list{background:url(./img/icons.png) 0 -180px no-repeat;width:20px;}
.ve-tlb-bbcode{background:url(./img/icons.png) 0 -200px no-repeat;width:40px !important;margin:1px auto !important;}
.ve-tlb-numlist{background:url(./img/icons.png) 0 -220px no-repeat;width:20px;}
.ve-tlb-textleft{background:url(./img/icons.png) 0 -240px no-repeat;width:20px;}
.ve-tlb-textcenter{background:url(./img/icons.png) 0 -260px no-repeat;width:20px;}
.ve-tlb-textright{background:url(./img/icons.png) 0 -280px no-repeat;width:20px;}
.ve-tlb-offtopic{background:url(./img/icons.png) 0 -300px no-repeat;width:20px;}
.ve-tlb-code{background:url(./img/icons.png) 0 -320px no-repeat;width:20px;}
.ve-tlb-spoiler{background:url(./img/icons.png) 0 -340px no-repeat;width:20px;}
.ve-tlb-sub{background:url(./img/icons.png) 0 -360px no-repeat;width:20px;}
.ve-tlb-sup{background:url(./img/icons.png) 0 -380px no-repeat;width:20px;}

/* SELECT BOX */
.wysibb-toolbar-select{display: inline-block;*display:inline;zoom:1;outline:none;vertical-align: top;overflow:visible;width:100px;height:24px;border:1px solid #ddd;border-radius:3px;padding-right:14px;position:relative;cursor:pointer;margin:5px;font-size:14px;}
.wysibb-toolbar-select .select-arrow{width:16px;height:24px;display:block;position:absolute;right:0;top:0;background:#f5f5f5;border-left:1px solid #ddd;}
.wysibb-toolbar-select .select-arrow span{width:15px;height:24px;display:block;position:absolute;right:0;top:0;background:url(./img/icons.png) -4px -417px no-repeat;}
.wysibb-toolbar-select .select-wrap{background:#fff;height:24px;position:relative;}
.wysibb-toolbar-select:hover,.wysibb-toolbar-select.on{box-shadow:0px 0px 3px #aaa;border:1px solid #aaa;background:#dedede}
/* .wysibb-toolbar-select:hover .select-wrap,.wysibb-toolbar-select.on .select-wrap{background:#fffef5} */
.wysibb-toolbar-select:hover .select-arrow,.wysibb-toolbar-select.on .select-arrow{background:#eee}
.wysibb-toolbar-select:hover .select-arrow,.wysibb-toolbar-select.on .select-arrow span{/* border-left:1px solid #aaa; */opacity:1;}
.wysibb-toolbar-select .select-wrap .select-list{position:absolute;left:-1px;top:24px;background:#fff;padding:0;border:1px solid #aaa;display:none;max-height:200px;overflow:scroll;overflow-x:hidden;z-index:10;}
.wysibb-toolbar-select.on .select-wrap .select-list{display:block;box-shadow:0px 0px 3px #aaa;//width:250px;}
.wysibb-toolbar-select .select-wrap .select-list .select-row{display:block;padding:2px 14px;text-decoration:none;color:#333;white-space: nowrap;}
.wysibb-toolbar-select .select-wrap .select-list .select-row:hover{background:#dff0ff}
.wysibb-toolbar-select .select-wrap .select-list .isdefault-true{background:#eee;font-size:12px;font-weight:bold;border-bottom:1px solid #ddd}
.wysibb-toolbar-select .select-wrap  .sel-value{display:block;overflow:hidden;font-size:11px;color:#555;height:24px;line-height:24px;padding:0 5px;text-overflow:ellipsis;white-space: nowrap;}
/* END SELECT BOX */

/* COLOR PICKER */
.wysibb-toolbar-colorpicker{display: inline-block;*display:inline;zoom:1;outline:none;vertical-align: top;overflow:visible;/* width:24px; */height:24px;border-radius:3px;padding:1px 14px 1px 1px;position:relative;cursor:pointer;margin:5px;font-size:14px;}
.wysibb-toolbar-colorpicker:hover{box-shadow:0px 0px 3px #aaa;border:1px solid #aaa;padding:0 13px 0 0}
.wysibb-toolbar-colorpicker.on{box-shadow:inset 0px 0px 3px #aaa;background:#ddd;z-index:10;}
.wysibb-toolbar-colorpicker .cpicker-dropdown{position:absolute;right:1px;top:0px;width:10px;height:24px;border-radius: 0 3px 3px 0;background:url(./img/icons.png) -6px -398px;}
.wysibb-toolbar-colorpicker .val{width:24px;height:24px;background:url(./img/icons.png) 5px -436px;position:relative;}
.wysibb-toolbar-colorpicker  .val .val-line{display:block;position:absolute;width:20px;height:3px;background:#000;bottom:3px;left:5px;}
.wysibb-toolbar-colorpicker .clist{position:absolute;left:-1px;top:24px;width:190px;background:#fff;padding:5px;border:1px solid #aaa;box-shadow:0px 0px 3px #aaa;cursor:default;display:none}
.wysibb-toolbar-colorpicker .clist .pl{display:block;height:5px;}
.wysibb-toolbar-colorpicker .clist .nocolor{height:24px;text-align:center;font-size:12px;margin:0 0 5px 0;line-height:24px;cursor:pointer;}
.wysibb-toolbar-colorpicker .clist .nocolor:hover{background:#eee}
.wysibb-toolbar-colorpicker .clist .scolor{width:16px;height:16px;margin:1px 1px 2px 2px;display: inline-block;*display:inline;zoom:1;cursor:pointer;}
.wysibb-toolbar-colorpicker .clist .scolor:hover{border:1px solid #333;margin:0 0 1px 1px;box-shadow:0px 0px 3px #aaa;}
/* END COLOR PICKER */


.wysibb .wysibb-text{border:1px solid #ddd;padding:5px;background:#fff;font-size:0.9em;margin:0;}

.wysibb-addlink-window{min-width:500px;margin:15px 25px;}
.tbl-label{margin-right:15px;font-weight:bold;}
.imgpreview{}
.imgpreview td{width:100px;height:100px;border:1px solid #ddd;background:#f5f5f5;vertical-align:middle}
#imgpreview{max-width:100px;max-height:100px;-width:100px;-height:100px;}
.wysibb-text-iframe{width:100%;height:150px;margin:0}
.wysibb-text-textarea{width:100%;height:150px;margin:0;box-sizing:border-box;border:0;//width:99%;outline:none}

.wysibb-footer{margin-top:10px;}

/* SMILES */
.sm{width:16px;height:16px;margin: 3px;}

/* MODAL WINDOW */
#wbbModalWindow{position:fixed;//position:absolute;left:50%;top:40%;//top:expression(parseInt(document.documentElement.scrollTop + document.documentElement.clientHeight - this.offsetHeight*1.5, 10) + "px");border:10px solid #1e84cc;border-radius:10px;box-shadow:0px 0px 10px #555;visibility:hidden;background:#fff;z-index:1001;//width:500px;//overflow:hidden;text-align:left;font-size:12px;}
#wbbModalWindow input{height:20px;}
#wbbModalWindow label{font-weight:normal}
#wbbModalWindow .modal-title{border-bottom:1px solid #ccc;background:#fafafa;font-weight:bold;padding:3px 10px;line-height:1.6em}
#wbbModalWindow .modal-info{margin-top:5px;padding:10px;}
#wbbModalWindow .modal-close{border-top:1px solid #ccc;background:#fafafa;padding:3px 10px;text-align:center}
#wbbModalWindow .static-redbtn{display:block;padding:3px 5px;border-radius:3px;
	background: #f92727;
	background-image: linear-gradient(bottom, #c30606 0%, #f92727 100%);
	background-image: -o-linear-gradient(bottom, #c30606 0%, #f92727 100%);
	background-image: -moz-linear-gradient(bottom, #c30606 0%, #f92727 100%);
	background-image: -webkit-linear-gradient(bottom, #c30606 0%, #f92727 100%);
	background-image: -ms-linear-gradient(bottom, #c30606 0%, #f92727 100%);
	color:#fff; text-decoration:none;text-align:center;border:1px solid #c30606;max-width:100%;text-shadow:0px 0px 3px #606060}
#wbbModalWindow .static-redbtn:hover{opacity:0.9;color:#fff}
#wbbModalWindow .static-okbtn{display:block;padding:3px 5px;border-radius:3px;
	background: #f92727;
	background-image: linear-gradient(bottom, #0866a9 0%, #1e84cc 100%);
	background-image: -o-linear-gradient(bottom, #0866a9 0%, #1e84cc 100%);
	background-image: -moz-linear-gradient(bottom, #0866a9 0%, #1e84cc 100%);
	background-image: -webkit-linear-gradient(bottom, #0866a9 0%, #1e84cc 100%);
	background-image: -ms-linear-gradient(bottom, #0866a9 0%, #1e84cc 100%);
	color:#fff; text-decoration:none;text-align:center;border:1px solid #0866a9;max-width:100%;text-shadow:0px 0px 3px #606060}
#wbbModalWindow .static-okbtn:hover{opacity:0.9;color:#fff}
#wbbModalWindow .inperr{color:red;font-size:0.9em;display:block}
/* END MODAL WINDOW */

/* BUTTONS */
.wbb-okbtn{
	background: #1e84cc;
	background-image: linear-gradient(bottom, #0866a9 0%, #1e84cc 100%);
	background-image: -o-linear-gradient(bottom, #0866a9 0%, #1e84cc 100%);
	background-image: -moz-linear-gradient(bottom, #0866a9 0%, #1e84cc 100%);
	background-image: -webkit-linear-gradient(bottom, #0866a9 0%, #1e84cc 100%);
	background-image: -ms-linear-gradient(bottom, #0866a9 0%, #1e84cc 100%);
	border: 1px solid #065f9f;
	border-radius:3px;
	text-align:center;
	text-decoration:none;
	display:block;
	color:#fff;
	text-shadow:0px 1px 3px #555;
	padding:5px 15px;
	overflow:visible;
}
.wbb-okbtn:hover{
	background: #1979bc;
	background-image: linear-gradient(bottom, #065f9f 0%, #1979bc 100%);
	background-image: -o-linear-gradient(bottom, #065f9f 0%, #1979bc 100%);
	background-image: -moz-linear-gradient(bottom, #065f9f 0%, #1979bc 100%);
	background-image: -webkit-linear-gradient(bottom, #065f9f 0%, #1979bc 100%);
	background-image: -ms-linear-gradient(bottom, #065f9f 0%, #1979bc 100%);
	color:#fff;
}
.wbb-redbtn{
	background: #f92727;
	background-image: linear-gradient(bottom, #c30606 0%, #f92727 100%);
	background-image: -o-linear-gradient(bottom, #c30606 0%, #f92727 100%);
	background-image: -moz-linear-gradient(bottom, #c30606 0%, #f92727 100%);
	background-image: -webkit-linear-gradient(bottom, #c30606 0%, #f92727 100%);
	background-image: -ms-linear-gradient(bottom, #c30606 0%, #f92727 100%);
	border: 1px solid #c30606;
	border-radius:3px;
	text-align:center;
	text-decoration:none;
	display:block;
	color:#fff;
	text-shadow:0px 1px 3px #555;
	padding:5px 15px;
	overflow:visible;
}
.wbb-redbtn:hover{
	background: #ee2222;
	background-image: linear-gradient(bottom, #b80404 0%, #ee2222 100%);
	background-image: -o-linear-gradient(bottom, #b80404 0%, #ee2222 100%);
	background-image: -moz-linear-gradient(bottom, #b80404 0%, #ee2222 100%);
	background-image: -webkit-linear-gradient(bottom, #b80404 0%, #ee2222 100%);
	background-image: -ms-linear-gradient(bottom, #b80404 0%, #ee2222 100%);
	color:#fff;
	
}
/* BUTTONS */

.wysibb-powered,.wysibb-powered:hover{width:46px;text-align:center;position:absolute;right:5px;top:12px;box-shadow:0;border:none}
.wysibb-powered a{color:#777;font-size:10px;text-decoration:none;font-family:Arial,sans-serif;}
.wysibb-powered a:hover{color:#333;}



/* DEFAULT STYLES */
.code{margin: 0 0 10px 0;}
.codetop{background:#dedede;padding:3px 10px;}
.codemain{padding:5px;border:1px dotted #ccc}

.hidetop{background: #E4EAF2;border: 1px dotted black;border-bottom: 0;border-left: 4px solid #8394B2;color: black;font-weight: bold;font-size: 10px;margin: 8px auto 0 auto;padding: 3px;}
.hidemain{background: #FAFCFE;border: 1px dotted black;border-left: 4px solid #8394B2;border-top: 0;color: #465584;padding: 4px;margin: 0 auto 8px auto;}

.blockquote{border:1px solid #ccc;border-left:4px solid #ccc;padding:10px 15px;font-size:10px;}